@import '../../../../../assets/colors';

$--github: rgb(128, 128, 128);
$--live: rgb(238, 108, 108);

.slide {
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	height: 50vh;
	min-height: 350px;
	transition: 0.3s;
	margin: 0 1em;

	&__infobox {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		content: '';
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: $--primary;
		height: 30%;
		transition: 0.3s;

		&-text {
			display: flex;
			text-align: end;
			align-items: center;
			width: 50%;
			height: 100%;
			padding: 0 1em;
			border-right: 1px solid $--secondary;

			p {
				color: $--secondary;
				font-size: clamp(0.3rem, 4vw, 1rem);
			}
		}

		&-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 100%;

			&-btn {
				margin: 1em;
				cursor: pointer;

				&-github {
					font-size: clamp(1rem, 8vw, 2.5rem);
					color: $--tertiary;
					background: none;
					border: none;
					margin-right: 1em;

					&:hover {
						a {
							transition: 0.3s;
							color: $--github;
						}
					}
				}

				&-live {
					font-size: clamp(0.5rem, 4vw, 1.5rem);
					padding: 0.2em;
					background: none;
					border: 2px solid $--secondary;
					color: $--tertiary;
					letter-spacing: 2px;
					outline: none;
					font-weight: bold;
					text-transform: uppercase;
					transition: ease-in-out 0.3s;

					&:hover {
						border-color: $--live;
						span {
							transition: ease-in-out 0.3s;
						}
					}
				}
			}
		}
	}

	&:hover {
		.slide__infobox {
			bottom: 0;
		}
	}
}

@media (max-width: 768px) {
	.slide {
		&__infobox {
			flex-direction: column;
			height: 40%;

			&-text {
				text-align: center;
				height: 70%;
				width: 100%;
				border-right: none;
			}

			&-buttons {
				height: 30%;
				width: 100%;
			}
		}
	}
}
