@import './assets/colors';

.app {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	transition: 0.3s;
}

body {
	margin: 0;
}

a {
	color: $--secondary;
}
